body {
	box-sizing: border-box;
	background-image: url("https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif");
}

/* Intro Section */
.intro {
	text-align: center;
	opacity: 1;
	transition: opacity 0.5s ease;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	/* z-index: 1; */
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.jumbotron {
	margin: 120px 200px 0px 200px;
	background: rgba(0, 1, 5, 0.548);
}

.jumbo-text {
	color: rgba(255, 255, 255, 0.87);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jumbo-text hr {
	border-top: 1px solid rgba(255, 255, 255, 0.87);
}

/* Game Section */
.game {
	width: 100%;
	margin: auto;
	/* background-color: #cccccc; */
	color: rgba(255, 255, 255, 0.87);
	opacity: 0;
	transition: opacity 0.5s ease 0.5s;
	/* margin-top: -430px; */
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	/* z-index: -1; */
}

.game h1 {
	width: 100%;
	text-align: center;
}

.side {
	float: left;
	width: 50%;
	height: 400px;
	padding: 20px;
	text-align: center;
}

.right-side {
	/* background-color: aqua; */
}

.left-side {
	/* background-color: blueviolet; */
}

.btn-light {
	margin: 10px;
}

.clearfix {
	clear: both;
}

.fadeOut {
	opacity: 0;
	pointer-events: none;
	/* z-index: -1; */
}

.fadeIn {
	opacity: 1;
	pointer-events: all;
	/* z-index: 1; */
}
